In [ ]:
# Задание 1
# word = 'test'
# word = 'abcdefg'
mid = int(len(word)/2)
if len(word) %2 == 0:
  print(word[mid-1 : mid+1])
else:
  print(word[mid])

es

In [ ]:
# Задание 2
num = 1
all_dig = []
while num:
  num = int(input('Введите число: '))
  all_dig.append(num)
print(sum(all_dig))

Введите число: 1
Введите число: 4
Введите число: 6
Введите число: 0
11

In [ ]:
# Задание 3
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys.sort()
girls.sort()
z = zip(boys,girls)
print('Идеальные пары:')
for i in z:
  print(f"{i[0]} и {i[1]}")

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']
Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [31]:
# Задание 4
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]]
for country in  countries_temperature:
  s_temp = country[1]
  print('Средняя температура в странах:')
  for i in range(len(s_temp)):
      s_temp[i] = (s_temp[i] -32) *5/9
  print(f"{country[0]} - {round(sum(s_temp)/len(s_temp),1)} C")

Средняя температура в странах:
Thailand - 23.9 C
Средняя температура в странах:
Germany - 13.8 C
Средняя температура в странах:
Russia - 3.7 C
Средняя температура в странах:
Poland - 12.0 C

In [30]:
# Задание 5 (необязательное)
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]
stream = [
    '2018-01-01,user100,150',
    '2018-01-07,user99,205',
    '2018-03-29,user1001,81'
]

set_user = set()
sum_col = 0
for one_stream in stream:
  user, col = one_stream.split('user')[1].split(',')
  set_user.add(user)
  # print(f"col = {col}")
  sum_col += int(col)
mean_visit = round(sum_col / len(set_user),2)
print(f"Среднее количество просмотров на уникального пользователя: {mean_visit}")

Среднее количество просмотров на уникального пользователя: 145.33

In [ ]:
# Задание 6 (необязательное)
s_int = input('Введите числа:')
set_num = set()
list_num = []
for i in s_int.split(' '):
    if i in list_num:
        set_num.add(int(i))
    list_num.append(i)
list_num_after = list(set_num)
list_num_after.sort()      
print(' '.join([str(i) for i in list_num_after]))

Введите числа:10 15 15 103 200 200 200 1 1 1 1 1 2 2 2
1 2 15 200