In [1]:
print("start")

start

In [2]:
import pandas as pd
df = pd.read_csv('/введение (Ответы) - Ответы на форму (1).csv', sep=',')
df.head(10)

      Отметка времени  месяц операции   название  сумма категория Unnamed: 5
0  6/11/2022 16:44:56             1.0      такси   33.0      авто        NaN
1  6/11/2022 16:45:20             7.0       обед   77.0       еда        NaN
2  6/11/2022 16:45:48            12.0     коньки   97.0    одежда        NaN
3  6/11/2022 16:46:11             6.0    черешня   45.0       еда        NaN
4  6/11/2022 17:53:26             1.0    пирожок   12.0       еда        NaN
5  6/11/2022 17:53:48             2.0    шоколад   30.0       еда        NaN
6  6/11/2022 17:54:09             3.0  мороженко   27.0       еда        NaN
7  6/11/2022 17:54:34             4.0     клюква   23.0       еда        NaN
8  6/11/2022 17:54:56             5.0    чак чак   27.0       еда        NaN
9  6/11/2022 17:55:17             6.0       кофе   51.0       еда        NaN

In [3]:
df.describe()

       месяц операции       сумма
count       54.000000   53.000000
mean         6.481481   50.811321
std          3.478998   25.481559
min          1.000000   10.000000
25%          4.000000   32.000000
50%          6.500000   51.000000
75%          9.000000   67.000000
max         12.000000  100.000000

In [6]:
df.groupby('месяц операции').sum()

                сумма
месяц операции
1.0             276.0
2.0             205.0
3.0             179.0
4.0             249.0
5.0             228.0
6.0             240.0
7.0             218.0
8.0             203.0
9.0             160.0
10.0            222.0
11.0            116.0
12.0            397.0